/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700");

/* Fontawesome */
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1,
h2,
h3,
h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 0;
  margin: auto;
}

.container {
  width: 900px;
  margin: auto;
}

.text-centered {
  text-align: center;
}

.btn {
  padding: 10px 24px;
  background-color: rgb(173, 255, 47, 0.7);
  color: white;
  border-radius: 24px;
}

.btn:hover {
  background-color: rgb(173, 255, 47, 0.3);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.card img {
  height: 100px;
  width: 100%;
}

.card {
  width: 200px;
  border-radius: 8px;
  border: 1px solid rgb(128, 128, 128, 0.2);
  padding: 20px;
  box-shadow: 0 0 5px rgb(230 230 230 );
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #2C2B2B;
  padding:60px;
}
.footer-links {
  display: block;
  align-items: center;
  background-color: #2C2B2B;

}
.footer-links a {
  color: rgb(96, 240, 29);
  /* opacity: 0.15; */
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  background-color: #2C2B2B;
}
